/* <style>.3 */

            

            :is( h2, h3, h4, h5, #paraone, #paratwo, #parathree, #parafour, #foot) {
              text-align: center;
              font-size: 28px;
              
            } 

            h1 {
              font-size: 30px;
              text-align: center
            }

            #paraone {
              margin 10px 20px 30px 40px
            } 

            #paraone {
              color: brown; ;
              margin: 10px, 20px, 30px, 40px
            }
      
            #paratwo {
              color: rgb(14, 13, 66);
              margin: 10px, 20px, 30px, 40px
            }
            #parathree {
              color: purple;
              margin: 10px, 20px, 30px, 40px
            }

            #parafour {
              color: rgb(114, 156, 114)
            }
            .center {
              display: block;
              margin-left: auto ;
              margin-right: auto;
              width: 50%;
              padding: 4px;
              border: 2px solid rgb(39, 7, 7);
              background-color: white;
              
            }

            .para {
            font-size: 36px;
            }

            body {
              background-color: burlywood;
            }

            #img2 {
              margin-top: 70px;
            
            }

            #foot {
              margin margin-top: 70px;
            }

          